<launch>
  <node name="mujoco_ros" pkg="mujoco_ros" type="mujoco_ros" required="true" respawn="false" output="screen">
   <param name="license" type="string" value="$(env HOME)/mjkey.txt" />
   <param name="model_file" type="string" value="$(find dyros_bolt_description)/robots/bolt_8dof.xml"/>
   <!-- <param name="model_file" type="string" value="$(find dyros_bolt_description)/robots/bolt_6dof.xml"/> -->
  </node>
  <include file="$(find dyros_bolt_launch)/launch/common.launch">
    <arg name="run_mode" value="simulation" />
  </include>
</launch>
